@define-color foreground {foreground};
@define-color background {background};
@define-color cursor {cursor};

@define-color color0 {color0};
@define-color color1 {color1};
@define-color color2 {color2};
@define-color color3 {color3};
@define-color color4 {color4};
@define-color color5 {color5};
@define-color color6 {color6};
@define-color color7 {color7};
@define-color color8 {color8};
@define-color color9 {color9};
@define-color color10 {color10};
@define-color color11 {color11};
@define-color color12 {color12};
@define-color color13 {color13};
@define-color color14 {color14};
@define-color color15 {color15};

@define-color primary {color4};
@define-color on_primary {background};
@define-color primary_container {color8};
@define-color on_primary_container {color12};
@define-color primary_fixed {color15};
@define-color primary_fixed_dim {color4};
@define-color on_primary_fixed {background};
@define-color on_primary_fixed_variant {color8};

@define-color secondary {color6};
@define-color on_secondary {background};
@define-color secondary_container {color8};
@define-color on_secondary_container {color14};
@define-color secondary_fixed {color14};
@define-color secondary_fixed_dim {color6};
@define-color on_secondary_fixed {background};
@define-color on_secondary_fixed_variant {color8};

@define-color tertiary {color5};
@define-color on_tertiary {background};
@define-color tertiary_container {color8};
@define-color on_tertiary_container {color13};
@define-color tertiary_fixed {color13};
@define-color tertiary_fixed_dim {color5};
@define-color on_tertiary_fixed {background};
@define-color on_tertiary_fixed_variant {color8};

@define-color error {color1};
@define-color on_error {background};
@define-color error_container {color9};
@define-color on_error_container {foreground};

@define-color on_background {foreground};
@define-color surface {background};
@define-color surface_dim {background};
@define-color surface_bright {color8};
@define-color surface_container_lowest {color0};
@define-color surface_container_low {color0};
@define-color surface_container {color8};
@define-color surface_container_high {color8};
@define-color surface_container_highest {color8};
@define-color surface_tint {color4};
@define-color surface_variant {color8};
@define-color on_surface {foreground};
@define-color on_surface_variant {color7};

@define-color outline {color8};
@define-color outline_variant {color8};
@define-color inverse_primary {color12};
@define-color inverse_surface {foreground};
@define-color inverse_on_surface {background};
@define-color scrim #000000;
@define-color shadow #000000;
@define-color source_color {color4};
